[2017-03-06 16:01] fzaninotto opened #1 "make it compatible with admin-on-rest 0.9"
The future release of admin-on-rest changes the expected format for REST responses (see https://github.com/marmelab/admin-on-rest/pull/385). It should be released within 2 weeks.

You need to release a new major version of aor-postgrest-client to take this change into account.

[2017-03-06 18:43] josx commented on #1
OK thanks @fzaninotto, After release i will make it compatible!

[2017-03-12 10:25] tb opened #3 "Add authClient"
See https://marmelab.com/admin-on-rest/Tutorial.html#adding-a-login-page

[2017-03-13 17:51] josx commented on #3
Great work!
ASAP I will check this PR on a proof of work i have done: https://github.com/Cambalab/test-feathers-admin

[2017-03-14 12:29] #1 closed

[2017-03-14 12:29] #3 closed

[2017-03-14 13:21] josx opened #4 "Integration Tests"
I would be perfect if we could add tests to login, logout, use admin to test this plugin.
Maybe We could add https://github.com/Cambalab/test-feathers-admin here
Any ideas? any clues to do it?

[2017-03-26 14:18] Ryanthegiantlion opened #5 "Rest client does not correctly handle GET_MANY"
See:

https://marmelab.com/admin-on-rest/RestClients.html#writing-your-own-rest-client

GET_MANY passes a list of ID's while GET_LIST passes a filter parameter. Currently the
GET_MANY handler for AOR Feathers Client is not handling a list of ID's as it is expecting a filter parameter.

[2017-03-27 12:56] josx commented on #5
@Ryanthegiantlion we have to research how feathers client is handling many request? any clue on that?

[2017-03-27 18:31] Ryanthegiantlion commented on #5
@josx As it stands the aor-feathers-client drops the id's for the GET_MANY request.

The above fix works for me. If you want to reproduce the error to test this fix use a reference field in a list view. AOR will fire off a GET_MANY for the associations with the id's of the reference fields. (As documented in the link above)

[2017-03-27 18:32] #5 closed

[2017-03-27 20:43] josx opened #7 "Add GET_MANY_REFERENCES support"
Just using $in will work

[2017-04-26 13:58] olegggI opened #8 "Error for query filters"
Just change

`query = { 'id': { '[$in]': ids } };`

to

`query = { 'id': { '$in': ids } };`

[2017-04-27 13:15] josx commented on #8
With which feathers version you are testing it? auk or legacy?

[2017-05-09 14:35] AmrN opened #9 "Uncaught Error: injectTapEventPlugin(): Can only be called once per application lifecycle"
Getting this error when using with AOR version 1.0.1
I think the dependencies package version needs to be updated.

[2017-05-09 20:37] josx commented on #9
Right now We have tested with AOR 0.9.x
Please try to upgrade dependecies or change code and make a PR.

[2017-05-10 03:09] wedneyyuri commented on #8
Hi @josx, as [far I understand](https://github.com/feathersjs/feathers/issues/334) this code will not work with others db providers (ex: Sequelize or elasticsearch).

Please, can you confirm the supported db?

[2017-05-10 06:09] AmrN commented on #9
Tried updating AOR version, it works well and that error doesn't appear anymore. I sent a PR.

[2017-05-10 12:53] josx commented on #8
BTW We are using feathers client, with simple queries (So i think will work for all feathers supported dbs).

In feathers docs describe db adapter: [Pagination, Sorting, Limiting, and Selecting](https://legacy.docs.feathersjs.com/databases/pagination.html) and [querying](https://legacy.docs.feathersjs.com/databases/querying.html)

Anyways would be great if you can test it on, so we can be sure to

[2017-05-10 12:58] #9 closed

[2017-05-10 16:58] wedneyyuri commented on #9
Hi @josx, can we reopen this issue? This issue was masked by #10 because after the update we will have only 1 version of `admin-on-rest` in `node_modules` folder (see https://docs.npmjs.com/how-npm-works/npm3).

We can require only one version of `admin-on-rest/lib/mui/layout` (which is being required by `admin-on-rest`), so the solution is apply the changes bellow in `src/restClient.js` (see http

[2017-05-10 18:49] josx commented on #9
thanks a lot!

[2017-05-14 06:07] AmrN commented on #8
Having the same issue, I'm using Auk but looking at the documentation for legacy it seems to be using the same syntax and neither of them requires these brackets:
[Auk's querying documentation](https://docs.feathersjs.com/api/databases/querying.html#in-nin)
[Legacy's querying documentation](https://legacy.docs.feathersjs.com/databases/querying.html#in-nin)

I sent a PR with the fix suggested by ol

[2017-05-15 20:52] josx commented on #8
Fixed with #12

[2017-05-15 20:52] #8 closed

[2017-05-19 23:24] fonzarely opened #15 "feathers-client in peerDependencies ?"
feathers-client package may be in peerDependencies aside admin-on-rest on package.json

I'm not sure, what do you think of that ?

[2017-05-20 19:59] wedneyyuri commented on #15
Hi @fonzarely, are you talking about 6bedf17e74b305328472e7a7b46c6ed83739147f?

[2017-05-20 20:03] fonzarely commented on #15
Yes, you should add 'feathers-client' so that npm/yarn hit a warning when installing 'aor-feathers-client'.

[2017-05-20 20:51] josx commented on #15
i think you are right.

[2017-05-20 20:53] wedneyyuri opened #16 "Custom identifiers/primary keys for in resources"
Hi @josx, do you have any thoughts about custom identifiers? It is an issue when choosing NeDB as database.

The [proposed solution](https://marmelab.com/admin-on-rest/FAQ.html#can-i-have-custom-identifiersprimary-keys-for-my-resources) from FAQ:

[2017-05-20 20:56] josx commented on #15
hey @wedneyyuri or @fonzarely Do you want to do a PR on that?
I am using aor-feathers-client with feathers-client 1.9.x, but some months ago they released 2.x
Can you check if it works with 2.x?

[2017-05-20 21:03] josx opened #17 "Write package description"
Add to the readme package description, so any who look on knows what is this package for.

Also if you never have used admin-on-rest or feathers.

Maybe we can add an intro for both projects.

[2017-05-20 21:18] josx commented on #16
What do you think about sending config when passing feathers client (with a default with id fields).

Using it:

[code]
and in restClient.js

[code]

Do you want to work on this?

[2017-05-20 21:31] fonzarely commented on #15
It does not seems to work with feathers-client 2.x since I'm bumping on a bug with my api 'id/_id'. I do not see a way to make admin-on-rest to manages the mapping. It might be a know bug, I'm not sure.

[2017-05-20 21:47] wedneyyuri commented on #16
Your solution looks good to me. I wanna work on it, but probably I will not have time until the next weekend.

[2017-05-20 22:32] wedneyyuri commented on #16
Until then, I'm using a server side hook:

in `src/services/customers/customers.hooks.js`:
[code]

in `src/hooks/normalize-id.js`:
[code]

[2017-05-20 22:33] wedneyyuri commented on #15
Hi @fonzarely, I'm using `aor-feathers-client@0.3.1`, `feathers-client@2.2.0` and `admin-on-rest@1.0.2` and everything is working fine.

You can check https://github.com/josx/aor-feathers-client/issues/16 or https://github.com/josx/aor-feathers-client/issues/16#issuecomment-302902856

[2017-05-21 03:41] wedneyyuri opened #20 "Use PATCH instead of PUT"
Discussion started in https://github.com/marmelab/admin-on-rest/issues/256

And there are good news, because [feathers supports PATCH HTTP method](https://docs.feathersjs.com/api/rest.html#rest).

My proposal is [to change our mapRequest method](https://github.com/josx/aor-feathers-client/blob/4736b6d6411118b0aa18e9d2b71dee677084a2f9/src/restClient.js#L41) from `service.update(...)` to `service.pa

[2017-05-21 13:07] fonzarely commented on #15
Thanks ! this is what I was looking for.

[2017-05-21 15:38] wedneyyuri commented on #20
Closing because I think it's a low priority improvement, sorry the noise

[2017-05-22 13:50] josx commented on #15
So i merged @fonzarely PR https://github.com/josx/aor-feathers-client/pull/19

But if @wedneyyuri is sure about it is working on 2.x we need to change peerdep to >1.9.x or something like that

[2017-05-22 13:51] josx commented on #16
ok no problem we can wait to the next week ;)

[2017-05-23 08:25] fonzarely commented on #15
No problem for me since I could fix the _id/id issue.

[2017-05-23 18:40] #15 closed

[2017-05-31 13:53] fonzarely opened #22 "Add circleCI to automate PR testing ?"
I'm using the free plan for my projects so I can propose this for this lib.

Would you like I make it ?

Exemple :
![image](https://cloud.githubusercontent.com/assets/707217/26635199/4d50a84e-4619-11e7-949c-09d20554fdbb.png)

[2017-05-31 19:27] josx commented on #22
Would be great to have a test advice. I didnt use circleCI before.
Please make a PR and comment on how to use it.

[2017-05-31 20:51] fonzarely opened #23 "Deprecated package - react-addons-transition-group"
warning admin-on-rest > material-ui > react-addons-transition-group@15.5.2: This package is deprecated and will no longer work with React 16+. We recommend you use TransitionGroup from 'react-transition-group' instead.

[2017-05-31 21:05] fonzarely commented on #22
Done :
https://github.com/josx/aor-feathers-client/pull/24

[2017-07-04 22:27] 1beb opened #25 "Duplicated Presentation when using mongoose"
I have a feathers service that I can test with postman, and it shows a list of 4 records all distinct. However, when I try to use it with aor-feathers-client, no matter which model I use, the records are all being presented as equal. So let's say for example, we have a model for `reminders`. We would expect:

Reminders List

- reminder 1
- reminder 2
- ...

But what is appearing is:

Reminder List

[2017-07-05 01:50] 1beb commented on #25
So, some more investigation shows that this is related to the use of feathers mongoose. I'm going to through together a reproducible example in a new repo. I think it has something to do with the field 'id'.

[2017-07-05 01:56] 1beb commented on #25
[code]

This is a telling response from postman.

[2017-07-05 04:00] 1beb commented on #25
This problem appears to be related to the ids, or more specifically the field name of the id (in this case _id).

[2017-07-05 12:13] josx commented on #25
is there any errors on browser console or on feathers debug?

[2017-07-05 12:25] josx commented on #25
check here:

https://github.com/feathersjs/feathers-mongoose/issues/81
https://github.com/feathersjs/feathers-mongoose/issues/156

@fonzarely Is working to support custom id (maybe you want to help)
https://github.com/josx/aor-feathers-client/pull/21

[2017-07-05 16:48] #22 closed

[2017-07-11 20:53] thngdude commented on #25
I am experiencing this issue as well. Any workarounds?

[2017-07-11 21:26] josx commented on #25
It seems to be that you are using mongo or somehting with custom id field name.
We are working to support that!
@thngdude if you can please help us!
here WIP https://github.com/josx/aor-feathers-client/pull/21 (need tests, and @1beb told us that it is not working )

[2017-07-13 01:10] josx commented on #23
is this still valid? how can i reprodce it?

[2017-07-13 01:16] #16 closed

[2017-07-13 01:16] #25 closed

[2017-07-13 01:18] josx opened #27 "custom ids tests"
We need to make all test for several primary keys, at least also for _id

[2017-07-13 01:54] josx commented on #20
maybe we can put both update and patch, if you need it or want PR is welcomed ;)

[2017-07-13 02:08] #17 closed

[2017-07-13 05:25] shaunnez opened #28 "Missing depency 'feathers-client'"
Doing the following

npm install -g create-react-app
create-react-app test-admin
cd test-admin/
yarn add admin-on-rest
yarn add aor-feathers-client

I believe i have to do the below?
yarn add feathers-client

I then create feathersClient.js and update app.js too look like yours

I then get this issue

addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a compone

[2017-07-13 13:06] fonzarely commented on #23
This is a warning I had when building. I don't remember what can we do about it.
We may close this issue for now.

[2017-07-13 13:06] #23 closed

[2017-07-13 14:02] josx commented on #23
ok if you reproduce it let me know.

[2017-07-13 15:05] josx commented on #28
Try removing ```node_modules``` and make ```npm install``` instead using ```yarn```. It works.

The problem is that ```yarn``` has not the same behaviour as ```npm```
I dont know why.

Maybe a clue:

Here on facebook says that is reloading multiple versions of React.
https://facebook.github.io/react/warnings/refs-must-have-owner.html

```npm ls react```

With yarn:
├─┬ admin-on-rest@1.2.1
│ ├─┬ ma

[2017-07-14 07:02] tony-kerz opened #29 "Cannot read property 'map' of undefined?"
hey man, thanks for writing this adapter!

i'm kind of new to aor and feathers, so it's entirely possible i'm just being a dunce,
but i have this setup and i'm getting the above error in the browser when trying to do a simple list.

here are some relevant snippets:

- `feathers-client.js`
[code]

- `app.js`
[code]

- `alerts.js`
[code]

- sample call to `http://localhost:3000/alerts` from browser

[2017-07-14 13:26] tony-kerz commented on #29
doh! after some shut-eye noticed this on the server side:

[code]

used this for `app.js`:
[code]

and voila:

<img width="1353" alt="screen shot 2017-07-14 at 9 24 11 am" src="https://user-images.githubusercontent.com/1223231/28213950-4c6d1014-6876-11e7-95e6-b85005987110.png">

so all good 👍 thanks again for the adapter 🙏

[2017-07-14 13:26] #29 closed

[2017-07-28 10:36] tony-kerz opened #30 "issues with primary-key/id not named 'id'"
hi,

i have a sequelize model where the primary key is not named 'id':
[code]

`feathers-sequelize` allows you to specify the id field, something like:
[code]

this seems to work fine at the rest level:
[code]
will yield:
[code]
so seems ok to that point, but when admin-on-rest attempts to display the user list with two users in the database, i get:
- the first user repeated twice
- the second use

[2017-07-28 13:29] josx commented on #30
In the last release https://github.com/josx/aor-feathers-client/releases/tag/v0.4.0 we added the custom id support.

Are you using that version?

The admin on rest file might be like this:

[code]

[2017-07-28 22:54] tony-kerz commented on #30
hi @josx,

thanks for the quick response!

actually, specifying `{id: 'username'}` helps with the `User` resource, but i have several other resources that still use `id` as a primary-key, and it messed with them.

wouldn't i need a way to specify `{id: 'username'}` for only a specific resource?

best,
tony.

[2017-07-28 23:00] josx commented on #30
You are right, by now only support one type or id for all resources.
Can you add that feature?

[2017-07-29 12:40] tony-kerz commented on #30
[this](https://github.com/tony-kerz/aor-feathers-client/blob/tk/id/src/restClient.js) seems to work ok.

configuration would be like:
[code]
but would still support something like below for cases where desired effect is to replace `id` for all resources:
[code]
if it looks ok to you, i can clean it up:
- remove `console.log` messages

- add a test or two

regards,
tony.

[2017-07-31 13:16] josx commented on #30
* Your configuration is ok to me, also the backwards support syntax.
* Would be great to use debug instead of console.log
* We need to test custom id feature (we dont have any test on that)
*  Build is using [Make](https://github.com/josx/aor-feathers-client/blob/master/Makefile) and babel to transform code. (So in the project we dont need to push lib dir)

Thanks,  I will be watining for your PR

[2017-08-09 11:12] lijoantony opened #31 "Support AUTH_ERROR"
admin-on-rest 1.0 requires the authClient to implement AUTH_ERROR event. Otherwise any http error returned from the server such as 403, 404 etc would cause auto logout of the user. https://marmelab.com/blog/2017/04/26/admin-on-rest-1-0.html#the-authentication-logic-moved-to-saga

[2017-08-09 13:26] #31 closed

[2017-08-09 13:27] josx commented on #30
@tony-kerz do you need help on this?

[2017-08-09 21:17] tony-kerz commented on #30
hi jose,

sorry for the delay, i got pulled away on other stuff, but i am just looking into the tests now.

i'm sure i'm doing something stupid, but when i run:

[code]
i get:
[code]

can u spot anything obvious i'm doing wrong?
this is basically attempting to run the tests unchanged.
let me know if i can provide any significant info on my local environment...

[2017-08-09 23:35] tony-kerz commented on #30
sorry jose, i got distracted with some other stuff, you kno the deal, but how's [this](https://github.com/josx/aor-feathers-client/pull/33)?

[2017-08-10 01:07] josx commented on #30
great! merged

[2017-08-10 01:07] #30 closed

[2017-08-10 01:08] #27 closed

[2017-08-13 11:42] lijoantony opened #35 "Authorization header missing from requests"
I am facing an issue very similar to the one described here https://github.com/feathersjs/feathers-client/issues/68, but in the context of admin-on-rest. The first few service calls issued by the admin-on-rest doesn't have the Authorization header even though the token is available in the local storage. From the discussion in the linked issue, I understand that the service calls should be issued o

[2017-08-14 20:42] josx commented on #35
Right now app.authenticate is called here https://github.com/josx/aor-feathers-client/blob/master/src/authClient.js#L20

[2017-08-15 04:32] lijoantony commented on #35
This app.authenticate(...), with email and password, would be called when admin-on-request issues AUTH_LOGIN event. As per my understanding, AUTH_LOGIN would be issued when a LOGIN action is triggered from the Login component rendered at the login route. My scenario is different.

When the application is started, admin-on-rest would issue an AUTH_CHECK event upon entering a route. Now, depending o

[2017-08-19 03:55] josx commented on #35
@7flash @lijoantony  any idea on how to fix it? is there anyway to avoid this in aor-feathers-client?

[2017-08-19 05:44] 7flash commented on #35
I created pull request that working for me

[2017-08-22 10:43] dreamrace opened #37 "GET_MANY does not return with id in mapResponse"
Recording to aor [docs](https://marmelab.com/admin-on-rest/RestClients.html#response-format)
[code]

Currently there is no case to handle ```GET_MANY``` in mapResponse, which seems to break **\<ReferenceField\>** for my project.

A simple fix would be to add ```case GET_MANY: ``` to get same treatment as ```GET_LIST```?

[code]

[2017-08-22 11:52] josx commented on #35
I dont like the idea of calling app.authenticate on each request, but it solves that problem.
So I merged the code.

[2017-08-22 11:52] #35 closed

[2017-08-22 11:57] josx commented on #37
I think you are right on this, we forgot to include it.

Can you create a PR on this? I will be glad on merging it ;)

[2017-08-22 12:10] dreamrace commented on #37
@josx I have spotted the same issue with GET_REFERENCE, I will submit PR with fix for both case.
Is that ok for you?

[2017-08-22 12:44] josx commented on #37
ok! great merged ;)

[2017-08-22 13:14] dreamrace commented on #37
Cheers!

[2017-08-22 13:14] #37 closed

[2017-08-30 15:54] fonzarely opened #39 "feathers-jwt deleted on page reload"
I'm using the authClient, the token is well saved in localstorage but is deleted on page reload.
Did someone had such issue previously ?

[2017-08-31 14:09] josx commented on #28
@shaunnez did you find the way to use yarn?

[2017-08-31 14:11] josx commented on #39
maybe more info on  https://github.com/josx/aor-feathers-client/issues/35
@7flash any clue on this?

[2017-09-01 08:35] 7flash commented on #39
Are you using last version from repository or from npm?

[2017-09-01 12:10] fonzarely commented on #39
I'm using the last npm version :
[code]

[2017-09-01 12:11] fonzarely commented on #39
I also tested with React 15.5

[2017-09-01 13:44] josx commented on #39
Last github version is different from 0.5.0 on npm, i will released it right now

[2017-09-01 14:16] josx commented on #39
Please check the new release 0.6.0, and please tell us @fonzarely  if it is working ok?

[2017-09-01 23:33] fonzarely commented on #39
It works ! Thank you guys \O/

[2017-09-01 23:33] #39 closed

[2017-09-06 18:12] sarkistlt opened #40 "return object for restClient"
https://github.com/marmelab/admin-on-rest/pull/385

[2017-09-06 18:13] sarkistlt commented on #40
otherwise I can see in debugger that I have response data in an array, but app shows error `Cannot read property 'map' of undefined`

[2017-09-06 19:13] sarkistlt commented on #40
my bad, forgot to set pagination option in the service

[2017-09-06 19:13] #40 closed

[2017-09-06 20:27] josx commented on #40
hey no problem, thanks for trying to contribute
If you test it and find something is not working as you want please add issue, and much better if you can do a PR ;)

[2017-09-09 19:21] fonzarely commented on #7
To be closed ?

[2017-09-09 19:24] fonzarely opened #43 "Add AUTH_GET_PERMISSIONS to authClient"
It would be nice to add AUTH_GET_PERMISSIONS, but I'm not sure if is relevant to add it to the this lib or decorate the authClient in my app.
What are your thoughts ?

[2017-09-09 19:28] fonzarely opened #44 "I left a describe.only in unit tests. Sorry"
The next to PR may remove this one or I'll remove it for my next.

[2017-09-11 14:25] #7 closed

[2017-09-11 14:31] josx commented on #43
I think that would be great to support it on authClient.

A few months ago marmelab released aor-permission:

https://github.com/marmelab/aor-permissions
https://marmelab.com/blog/2017/06/26/aor-permissions.html

[2017-09-11 14:43] josx commented on #44
Done https://github.com/josx/aor-feathers-client/commit/d6f5ffe4c888e56ee1f8741129481c2c89d70011

[2017-09-11 14:43] #44 closed

[2017-09-11 16:25] fonzarely commented on #43
Yes I saw that,
We have 2 options:
- pass the permissions aside the token,
- decode the jwt token to find permissions.

I think we should add the permission management via a function given as parameter to authClient.

I have a big need of this so I'll make it, let me know what you think of my proposition.

[2017-09-11 18:09] josx commented on #43
Pass the permission aside the token, it is a more clean way to handle it, at least at first.
(it is less work and then we can decide to upgrade it later)

**"scratch an itch"** is the perfect way to continue developing new features.

[2017-10-06 21:25] fonzarely commented on #43
Added PR https://github.com/josx/aor-feathers-client/pull/45

[2017-10-09 19:47] #43 closed

[2017-10-16 20:18] kfern opened #47 "Permission example in readme"
Could you add a complete example about permissions?
Thanks in advance

[2017-10-17 12:04] josx commented on #47
what do you want? backend?
I am not using permissions right now.
Also months ago there is a new plugin on Admin on rest to help with permissions (https://marmelab.com/blog/2017/06/26/aor-permissions.html)

Maybe @7flash or @fonzarely know more about this topic.

[2017-10-17 13:13] kfern commented on #47
Anyone needs backend and frontend example because permissions are critical in admin apps.

A complete example will help to understand how use It.

[2017-10-17 15:02] josx commented on #47
Some months ago i have started an example: https://github.com/Cambalab/test-feathers-admin/

But i didnt update it with the latest plugin version.

Maybe you can start there and try to update it, to get an running project with a complete backend and frontend example.

@kfern PR are welcome ;)

[2017-10-17 15:29] kfern commented on #47
I don't know enough admin-on-rest, but I could help with Integration tests (related to #4)

[2017-10-17 17:44] kfern commented on #47
@josx https://github.com/marmelab/aor-permissions: This project is discontinued. Its features have been merged in admin-on-rest 1.3.0

[2017-10-17 17:48] josx commented on #47
if you can help on integration tests would be great!

[2017-10-17 18:53] kfern commented on #47
For the integration tests I will start a project from scratch.

I'll need help with permissions setting, so a complete example will be perfect

[2017-10-18 13:28] josx commented on #47
great! maybe then we can deploy it to heroku to get an online usable version.
No problem I can help you.

[2017-10-19 22:15] kfern commented on #47
I have already started the project for integration tests. Repo url is [https://github.com/kfern/feathers-aor-test-integration](https://github.com/kfern/feathers-aor-test-integration)

In order to continue I need your help with an example on managing permissions.

When can you have it?

[2017-10-20 01:24] josx commented on #47
great!
@fonzarely and @7flash  can you also see  this?

[2017-10-24 09:48] fonzarely commented on #47
Yes, I can. I have few availability now but will propose some thing.

[2017-10-24 11:56] josx commented on #47
take a look on https://github.com/kfern/feathers-aor-test-integration and on PR https://github.com/kfern/feathers-aor-test-integration/pull/1

We are trying to make a usefull example of permission (enforcing on backend and frontened), it seems you know more than us in that topic. Your look would be helpfull, at leasy you can tell us how to do it.

[2017-10-31 23:41] kfern commented on #47
Done :-)
https://github.com/kfern/feathers-aor-test-integration

[2017-11-01 03:45] josx commented on #47
great work @kfern
Can you add this to the README and make a PR?

[2017-11-01 13:37] kfern commented on #47
Now I do not have much time but I will try to find it.

[2017-11-24 14:39] kfern commented on #47
Done :-)

[2017-11-24 14:39] #47 closed

[2017-12-14 02:25] #20 closed

[2018-01-15 13:11] AndrewJDR opened #51 "Does this work with feathers v3? [question]"
Does this work with feathers v3? Thanks.

[2018-01-15 16:31] josx commented on #51
I havent tested with feathers v3, but would be very usefull to support it.
It would be great if someone can test it and give us a feedback on that.

[2018-02-06 20:42] ricardovf commented on #51
Here it worked.

[code]
import { authClient, restClient } from 'aor-feathers-client'
import feathersClient from './rest/feathersClient'

const authClientOptions = {
  storageKey: 'feathers-jwt',
  authenticate: {strategy: 'local'},
}

const App = () => (
  <Admin
    authClient={authClient(feathersClient, authClientOptions)}
    restClient={restClient(feathersClient, options)}

    <Resource name=

[2018-02-12 04:11] josx commented on #51
@ricardovf  great!

[2018-02-12 04:11] #51 closed

[2018-03-14 12:24] dprentis opened #52 "Filtering by nested properties"
Can't filter by nested properties, because query object is not flattened in restClient.js.

eg. when trying to filter `author.lastName='Brown'`, the query object becomes `{ author: { lastName: 'Brown' } }`, which results in an invalid query string. I think it should be `{ 'author.lastName': 'Brown' }`.

Easy fix seems to be to import fetchUtils
`import { fetchUtils } from 'admin-on-rest';`
and the

[2018-03-14 12:53] josx commented on #52
hey! good catch!
Please make a PR for that feature and also for a test.

[2018-03-15 07:07] dprentis commented on #52
Thanks for merging it! :) When are you planning the next release?

[2018-03-15 14:01] josx commented on #52
I think will be in the following days ;)

[2018-03-15 15:28] #52 closed

[2018-03-15 15:37] josx commented on #52
done!

[2018-04-13 14:25] michaelgold opened #54 "Trouble accessing the "_id" value of the loggedin user"
Hi -

Thanks for releasing this plugin! I am new to JWT and React, so please forgive me for the naive question.

In AOR, is there a straightforward way to access the `_id` and `name` values of the logged in user?

I noticed that feathersClient saves the `roles` value of the logged in user to window.localStorage, and I'm not sure if that functionality would need to be replicated for the `_id` and `

[2018-04-15 17:32] simonschllng commented on #28
[code]

Why are all dependencies in `peerDependencies`?

[2018-04-15 18:24] simonschllng opened #55 "Addionional auth strategies [question]"
Is it planned to add other authentication strategies?

[2018-04-16 12:30] josx commented on #55
if you need another strategy we can think about it.
What are you thinking about? Maybe you can do a PR with that

[2018-04-16 12:57] josx commented on #28
We add them in this way because to use this plugin you already need in you package.json feathers and admin on rest. Maybe debug, jwt-decode and object-diff might be as deps.

Where did you get those warnings?

[2018-04-16 13:09] josx commented on #54
Now you can check what is feathers-jwt with something like https://jwt.io/
An example of payload:

[code]

I am thinking that you can get the User data directly from feathers user rest API.

[2018-04-17 05:17] simonschllng commented on #28
I had an aor protect and installed `yarn add aor-feathers-client`. This
gives the warning.

[2018-07-24 19:40] josx commented on #28
Right now, it seems to be working after the bump to 2.x using react-admin

[2018-07-24 19:42] josx opened #58 "On AUTH_ERROR add rejection for 403"
Add on AUTH_ERROR promise rejection for status code 403.

https://github.com/marmelab/react-admin/blob/master/docs/Authentication.md

[2018-07-24 19:44] josx opened #59 "on AUTH_CHECK add custom redirect to"
Add to the options the redirectTo on rejecting promise

Check here  https://github.com/marmelab/react-admin/blob/master/docs/Authentication.md

[2018-07-24 19:48] josx opened #60 "AuthClient: check if not any type"
Right now if not any of react-admin types would throw an error, but in the docs tells to reject promise.

Is it the same?

https://github.com/josx/aor-feathers-client/blob/master/src/authClient.js#L74

[2018-07-26 01:32] josx opened #61 "on AUTH_GET_PERMISSIONS reject promise"

[2018-07-26 01:39] #58 closed

[2018-07-26 01:42] #61 closed

[2018-08-27 03:50] nicholasnelson opened #65 "Add DELETE_MANY support"
New versions of React Admin have the option to use a multi-select/delete

Currently this fails as aor-feathers-client doesn't support the DELETE_MANY feature

[2018-08-27 19:07] #65 closed

[2018-08-27 23:55] nicholasnelson commented on #60
Throwing errors and returning Promise.reject seem to be handled the same by Redux Saga. The anonymous function in authClient.js is called by Redux Saga's runCallEffect:

[code]

If the function throws an error, it's caught and the result passed as a param to `cb(error, true)`.

If the function returns a promise (which rejects), calls `resolvePromise(result, cb)` which does this:
[code]

tl;dr I do

[2018-08-28 01:10] josx commented on #60
thanks @nicholasnelson , i think we need to keep consistency.

So would be welcomed a PR replacing that throw error with a promise.reject

[2018-08-28 01:38] nicholasnelson commented on #60
See above PR. Made the same change in restClient as well.

[2018-08-28 01:45] #60 closed

[2018-08-28 01:46] josx commented on #60
great! merged!

[2018-09-13 17:16] #59 closed

[2018-09-13 17:16] josx commented on #28
Closing this issue, beacuse no activity

[2018-09-13 17:16] #28 closed

[2018-09-13 17:17] #54 closed

[2018-09-15 14:08] josx opened #70 "Add redirectTo option to readme"

[2018-09-25 22:58] nicholasnelson opened #71 "Suggestion: Change package name to reflect upgrade from AOR to RA"
The naming convention shown in the react-admin documentation [here](https://marmelab.com/react-admin/DataProviders.html) shows the included data providers are named in the form `ra-data-[provider name]`

It might be worth changing the naming of this module to something like `ra-data-feathers` from `aor-feathers-client`. This could help to improve visibility of the module and remove associations wi

[2018-09-26 02:27] josx commented on #71
Ok it is done, just summarizing what has been done

* Renamed github repo to ra-data-feathers
* Created a [new repo with the old repo name](https://github.com/josx/aor-feathers-client/blob/master/README.md)
* npm deprecate over [aor-feathers-client](https://www.npmjs.com/package/aor-feathers-client)
* Upgrade source code files with new name
* New  keyword on package.json
* new release on ra-data-f

[2018-09-26 02:27] #71 closed

[2018-10-18 00:47] nicholasnelson opened #74 "Improve Documentation"
The current documentation largely relies on a single example in README.md.

As discussed in #73 , this could be improved by documenting authClient and restClient in more detail outside of the example.

[2018-10-18 01:09] nicholasnelson opened #76 "Support UPDATE_MANY"
Per the [react-admin documentation on data providers](https://marmelab.com/react-admin/DataProviders.html#writing-your-own-data-provider), this project currently supports all request types, except UPDATE_MANY.

The project I'm currently working on has a use for UPDATE_MANY. I'll submit a PR to add this feature soon. Just creating this issue to avoid any doubling-up of work.

Should be fairly easy

[2018-10-18 14:46] #74 closed

[2018-10-18 14:46] #70 closed

[2018-10-18 14:52] josx opened #77 "improve indentation of code in readme"
Use 2 spaces indentation on showing code on readme

[2018-10-18 14:57] josx commented on #76
Thanks for inform. We will be wating for that PR ;)

[2018-10-19 00:14] nicholasnelson commented on #77
I'll do this.

Sorry, should have been done correctly in the initial PR #75.  Tabs trigger me as much as the next reasonable person.

[2018-10-19 00:52] nicholasnelson opened #79 "Possible Improvement: Code Style"
While writing tests for #76, I've noticed the quotes used in test/restClient.spec.js vary throughout the file.

For example, this 'describe' block uses different quoting for each of the two 'it' blocks:
[code]

I have a couple of questions raised by this:

- Is there a designated style guide this project should adhere to? Personally I've always liked the [Airbnb Javascript Style Guide](https://git

[2018-10-19 02:27] nicholasnelson opened #81 "Improvement: Performant bulk-actions"
The performance of bulk-actions could likely be improved.

Currently UPDATE_MANY and DELETE_MANY make multiple calls to the Feathers client, one for each ID to be updated/deleted. This is based on [ra-data-simple-rest](https://marmelab.com/react-admin/DataProviders.html#usage), which handles bulk actions like this because there isn't a 'standard' REST way to handle multi-item changes. Feathers doe

[2018-10-19 12:38] #77 closed

[2018-10-19 12:56] josx commented on #79
* For linting we can use eslint with [airbnb](https://www.npmjs.com/package/eslint-config-airbnb)
* I am using [lint-staged](https://github.com/okonet/lint-staged) in another project, we can also use it here

[2018-10-19 21:52] nicholasnelson commented on #79
👍
Happy for me to have a crack at a PR for that?

[2018-10-22 15:08] #76 closed

[2018-10-22 19:42] sgobotta commented on #79
I could add an .eslint configuration file using the airbnb extension. Let me know if you're ok with that or something else should be added to complete this issue.

[2018-10-23 13:04] josx commented on #81
I dont think it 's worth it to think about using feathers client with a non feathers rest service.

But We need to be sure that it will work with all the database adpaters.

[2018-10-23 13:35] josx opened #83 "Discussion: grapql and/or websockets support?"
* Both react-admin and feathers support at least graphql
* Feathers support websockets but react-admin not out of the box

is there any way we can support that?

[2018-10-23 22:52] nicholasnelson commented on #81
It should work with all database adaptors.

GET_MANY already relies on $in:

[code]

 If a database adaptor doesn't support $in (which would be a failing on the part of the adaptor as $in is part of the common query syntax for Feathers), GET_MANY will already be failing.

Didn't realise this was the case when I wrote the original issue. We're not adding / relying on any currently unused features b

[2018-10-24 01:57] nicholasnelson opened #84 "Bugfix: $sort field set incorrectly in GET_LIST handler"
In testing Websocket compatibility, I've found the following issue.

Feathers [documentation](https://github.com/feathersjs/docs/blob/master/api/databases/querying.md) shows the query format for $sort in GET_LIST as follows:
[code]

ra-data-feathers currently provides the $sort param like this:
[code]

This works for the REST transport, but not for Websocket.

I suspect this is because the REST tr

[2018-10-24 02:07] nicholasnelson commented on #83
Websockets: Yes. Feathers abstracts the transport from the consumer. Whether feathersClient is configured for REST, Websockets, etc, etc should be irrelevant to ra-data-feathers.

Having said that, I've found a bug that prevents Websockets specifically from working with ra-data-feathers. Full details in #84. I've written a fix for this, will PR shortly.

Graphql: Should just work. I don't have a g

[2018-10-24 18:15] josx commented on #81
I read again doc on feathers site, and $in is a common way to query for all adapters (the only adapter conflict zone is on querying by search)

[2018-10-24 18:16] josx commented on #81
In addition, it is better to have a delete many just in on query (not cycling for each id)

[2018-10-24 18:20] #84 closed

[2018-10-25 23:43] nicholasnelson commented on #83
Ok so the graphql thing is a bit more complex than I originally thought.

The main issue is that feathersClient does not support graphql. Feathers itself supports the creation of a graphql endpoint, however the client only supports REST, Websockets, and Primus. It is plausible to use REST / Websockets and run all queries against feathersClient.service('graphql'), but is there a good reason to do t

[2018-11-06 08:33] Raidus opened #86 "Support for feathers v3?"
Hi,

I've setup correctly the newest feathers backend and verified functionality. My feathersClient.js looks like

[code]

But after starting react-admin, I'll get following error:

![image](https://user-images.githubusercontent.com/8803882/48051952-e05fde00-e1a6-11e8-9e63-fb4eee3d706b.png)

Any ideas?

Thanks

[2018-11-06 08:44] Raidus commented on #86
Oh sorry, stupid mistake. After posting the screenshot, I've realized that I've initialized the dataprovider not correctly.

It should be

[code]

[2018-11-06 14:22] josx commented on #86
Ok @Raidus , will close this issue, but anyways it is good source of documentation that anyone searching can discover.

[2018-11-06 14:22] #86 closed

[2018-11-08 22:51] nicholasnelson commented on #83
Whoops, I'm certain I wrote a reply to this but I must have not hit the button.

I don't think this needs to be documented here. The transport used by Feathers Client is abstracted away from ra-data-feathers. Feathers client could be using Mystery Protocol X, but it still presents the same service.method(params) functions to us.

The documentation currently includes:
[code]

In my view, pointing o

[2018-11-14 12:38] #79 closed

[2018-11-14 12:41] josx opened #87 "Add Lint-staged and lint action on package.json"
Now we already have eslint with airbnb style on code.
To improve I think would be great to include lint-staged, a lint action in script, and add on test action first the linting process.

[code]

[2018-11-14 12:43] josx opened #88 "Fix yarn issue for codeship"
Test won't pass in codeship since yarn is not installing eslint correctly.

https://github.com/airbnb/javascript/issues/1508

[2018-11-20 12:16] josx commented on #83
Maybe as you said We can replace the existing example with a newer one.

[2019-01-18 22:17] Itzmeamario opened #89 "Column doesn't exist."
When using the current version I get (column messages.$sort[id] does not exist), but if I use the code at https://github.com/josx/ra-data-feathers/blob/master/test/restClient.spec.js it works correctly.

If more information is required I'll happily send it.

[2019-01-23 12:56] lijoantony commented on #89
I am facing a similar issue but for the filters.
I think my issue is caused by a single line change in the new version, which changed the behavior of query filters.

<         Object.assign(query, params.filter)
---

[2019-01-23 13:01] lijoantony commented on #89
Duplicate of #84 ?

[2019-01-23 17:37] lijoantony opened #90 "Nested query filter support is now broken"
I have recently updated my project to use `react-admin` and `ra-data-feathers`.
After the update I have found that the nested query filters are not working any more.
I have found the following after investigation.

As an example consider react admin is sending this request to `ra-data-feathers`,

[code]

ra-data-feathers would receive this filter,

[code]
This is the format expected by the feather

[2019-01-29 14:55] josx commented on #89
Yes I need to do a new release to match master changes. I will do it ASAP

[2019-01-29 15:55] josx commented on #90
Sorry the delay i was in vacations.
A few things:
1. Your are right on how to send $lte, $gt and this kind of queries
2. Tests are not passing, because of your change (because doesnt support deep props)
3. how to manage deep props on filter keys on feathers

Example of 3 (right now it is working like this):

from react-admin
[code]

Must send to feathers-client:

[code]

So I think that the curren

[2019-02-03 17:05] juanpasolano opened #92 "ReferenceField is sending wrong request"
I'm using feathers `^3.2.3` and the `<ReferenceField />` is apparently sending the wrong request.

[Currently](https://github.com/josx/ra-data-feathers/blob/master/src/restClient.js#L33) `query[idKey] = { $in: ids };` is being used but that returns an empty array. Changing  it to `query[idKey] = ids;` does work for me.

I'm pretty new to feathers but I would assume this is a feathers v2 vs v3 thin

[2019-02-04 15:32] juanpasolano commented on #92
@josx Thank you so much for clarifying. i'll close this since it appears to be a problem with my code.

[2019-02-04 15:32] #92 closed

[2019-02-04 15:47] josx commented on #92
no problem, if i can help you just write me.

[2019-02-05 09:47] nicholasnelson commented on #90
Hey josx,

Are you sure about this? I've just run the test suite at the current commit (104260ea1077d0f6fdd5761f1871e2b1f82b7d5f) and it appears there is a test failing in the latest master commit at least.

`  1) Rest Client
       when called with GET_LIST
         formats params into a query and pass it to client:
     AssertionError: expected false to be true`

When I add in the changes from #

[2019-02-05 19:48] josx commented on #90
Can you @nicholasnelson @lijoantony validate my approach in nested props? (the difference between nested props and modifiers like $lte )

[2019-02-11 23:59] nicholasnelson opened #93 "Investigate adding ability to build/test easily in Windows"
I recently discovered it is not particularly easy to work on this project in Windows, due to the reliance on the Makefile to build the project.

It may be worth investigating the use of a platform independent alternative to Make. Grunt or Gulp would likely fill this need.

@josx, would you have any objection to a PR replacing the Makefile with one of the above options? I have some familiarity with

[2019-02-11 23:59] nicholasnelson commented on #90
I'll take a look now @josx. Back in a Linux environment finally so should have less trouble than I did with my last attempt.

[2019-02-12 00:42] nicholasnelson commented on #90
Feathers Client seems to already handle this. We should just be able to pass in a query like:
`service.find({
  someValue: {
    $gt: 10
  }
})`

Feathers Client then (when using Rest) uses the qs library to stringify this query to:
`someValue%5B%24gt%5D=10` or `someValue[$gt]=10` without URL encoding, which is the correct format for built in operands per https://docs.feathersjs.com/api/client/res

[2019-02-12 01:25] nicholasnelson commented on #88
Added PR #95 which addresses this.

Problem seems to have been incompatibility between Eslint and the version of node configured for CircleCI (~7). I opted to update Node to fix this. Another possible fix would be to find a version of Eslint which supports Node v7, however given Node v7 is EOL and was never an LTS release, I think it makes more sense to update Node to 10.15.1 LTS.

[2019-02-12 01:31] nicholasnelson opened #96 "Use only a single package manager"
Currently there is both a package-lock.json and a yarn.lock file.

There should only be one of these files. If there are differences between the two (entirely possible), this could cause confusion if, for example, a developer works with NPM (using packge-lock.json), tests pass locally, commits, tests fail in CI (which uses Yarn and therefore yarn.lock).

I'd suggest just removing package-lock.json

[2019-02-12 12:02] josx commented on #93
So sorry I dont use Windows, I know that you can use http://www.msys2.org/ or http://gnuwin32.sourceforge.net/.

But i think would be better to make the life easier for windows users ;)

Right We are using make just for two tasks:

[code]

So If you come up with gulp tasks for them and integrate in package.json would be a step forward.
Please do it

[2019-02-12 12:08] #88 closed

[2019-02-12 12:10] #90 closed

[2019-02-12 12:16] josx commented on #93
Maybe it is clever just to add clean and build directly into package.json (just two onliners)

[2019-02-12 12:22] #96 closed

[2019-02-12 12:23] #89 closed

[2019-02-20 04:02] AndrewJDR opened #98 "Consolidated place to discuss the 'call authenticate on every request' related changes"
Back in 2017, `authenticate()` was set to be called upon every request, because not doing so caused a problem:
https://github.com/josx/ra-data-feathers/issues/35

Later, this was reverted, and authenticate is no longer called on every request:
https://github.com/josx/ra-data-feathers/commit/e5dc6ff6fa55ffcfce0eaace94a875138e28e883

I actually don't like the fact that authenticate was being called

[2019-02-22 20:41] josx commented on #98
Right now the only place where it calls authenticate is when AUTH_LOGIN type from authProvider is sent (not in every call to dataprovider types). I think the older problem was on page reload.

[2019-02-25 04:10] AndrewJDR commented on #98
Understood on the older problem being on page reload.
Nonetheless, do we understand what actually ended up fixing the page reload issue?

[2019-02-26 12:07] josx commented on #98
I dont know, can you test it and give us some feedback?

The test case is: you are already logged in and reload the page

[2019-02-26 12:17] AndrewJDR commented on #98
Works fine here. Pinging @lijoantony, original author of the issue #35 in hopes that he may know.

[2019-02-28 00:09] taylorgoodallau commented on #81
Hey @josx, if there are no objections to having this issue addressed still, I will submit a PR once I've completed code changes.

[2019-02-28 16:57] josx commented on #81
Would be great, please go on

[2019-03-14 01:15] taylorgoodallau commented on #81
Still working on this one, need to update the response mapping to fix a broken test.
Should have some time in the next couple of days to have it completed.

[2019-03-14 12:38] josx commented on #81
Ok @taylorgoodallau no worries, We can wait :)

[2019-03-28 14:30] #81 closed

[2019-05-30 13:12] roelnoort opened #101 "Working with non-paginated feathers services"
Hi, when working with non-paginated feathers services I am getting the error "Cannot read property 'map' of undefined".

Does ra-data-feathers support working with non-paginated requests, maybe by setting an option in for the feathers services that do not have pagination?

[2019-05-30 14:21] josx commented on #101
Can you post here the complete log or error?

[2019-05-30 16:11] roelnoort commented on #101
What I do is:
1. Login
2. The app loads my first view which is non-paginated
3. An error appears on the bottom of the screen. I'll include an image here.
![error-on-non-paginated-service](https://user-images.githubusercontent.com/8431891/58646073-eb29be00-8304-11e9-9746-5b19989432c0.png)

In the developer console the only thing that appears is this line:
[code]

I traced this error by copying the

[2019-05-31 11:53] josx commented on #101
It seems that we didnt use non paginated services in feathers
So I think your idea to support it is needed.

Some tips for the PR:
- Please add a test
- Dont repeat code (as above)

Would be great if you can do a PR.

[2019-06-11 12:03] dinodeSimon opened #102 "id property in put request payload"
We are using PUT not PATCH for updates for a couple of reasons.

When a PUT request comes through via the ra-data-feathers adaptor it includes the "id" field in the payload sent from react-admin to feathers which is not a valid property on the model.

Should this be stripped off as part of the data adaptor since it is only required for the react-admin client and not on the server?

[2019-06-11 17:04] josx commented on #101
@roelnoort do you have an update on this? if not maybe someone else can take it

[2019-06-11 17:34] josx commented on #102
To clearify some stuff:

- To update via put or patch in feathers client you need to send (id, data, params)  as it is on https://docs.feathersjs.com/api/services.html#updateid-data-params

- Right now you can customize id field for each resource if you want.

If i understand you well, you are saying that in **data** is the **id** field. (in that case we need to take it out from data)

Can you sho

[2019-06-11 21:48] dinodeSimon commented on #102
Hi José,

Thanks for following up. Apologies, I should have attached a sample originally.

Here is a sample mongoose model with 2 fields
`let Schema = new mongoose.Schema(
    {
      field1: {
        type: Types.String
      },
      field2: {
        type: Types.String
      }
    },
    { collection: "samples" }
  );`

It is using the default mongo / mongoose _id field as the unique identifier

[2019-06-14 19:29] josx commented on #102
@dinodeSimon I have done a PR #103 with your request, can you check this out? if it solves your problem

[2019-06-14 20:25] josx commented on #101
@roelnoort here a PR #104
Can you check it out, if it solves your issue?

[2019-06-16 01:03] dinodeSimon commented on #102
@josx tested PR #103  and it works perfectly. Nice work! Thanks.

[2019-06-16 01:03] #102 closed

[2019-06-21 14:23] #101 closed

[2019-07-06 10:05] hunght opened #107 "Missing Authorization headers after login success"
I flow the sample chat app. and integrating react-admin with my feathers app but it always on the login page.
 the code looks like this

 import React from 'react';
import { Admin, Resource } from 'react-admin';
import feathersClient from './feathersClient';
import { PostList, PostEdit, PostCreate } from './messages';
import { restClient, authClient } from 'ra-data-feathers';

const restClientOpti

[2019-07-07 04:04] hunght commented on #107
I fixed it by adding storage:localStorage option to my feathers client

[2019-07-07 04:04] #107 closed

[2019-07-07 14:35] josx commented on #107
ok great, this will help other people in your situation.

[2019-07-24 21:39] MohammedFaragallah opened #110 "react admin v3 alpha has breaking changes any plans to update ?"
for now i think restClient has some issues with InputReference
authClient has issues with logging out

[2019-07-26 05:20] dinodeSimon opened #111 "Logging out on 403 errors"
We are working with an API that sends a 403 HTTP status code when trying to delete an item that a user doesn't have permissions to delete. Currently the auto provider is seeing this 403 response and logging the user out completely.

Looking back through the history the addition of the piece of code to log the users out on 403 responses in addition to 401 was added to the auth provider a year ago.

[2019-07-30 12:38] josx commented on #110
Would be great to support it, and i think we need to.
Are there already any information about the breaking changes?
Do you now when it would become the stable version?

[2019-07-30 12:58] josx commented on #111
Ok, what do you think if we can it as an option?
Can you make a PR with that?

[2019-07-31 00:00] MohammedFaragallah commented on #110
no i don't think there is an announced release date

[2019-07-31 05:14] dinodeSimon commented on #111
Hi José,

No problems, we will have a think about a neat way to do it and put a PR up in the next couple of days.

[2019-07-31 06:46] TheHyphen commented on #111
Hi, we've made a PR here: https://github.com/josx/ra-data-feathers/pull/112
Any thoughts?

[2019-07-31 18:26] josx commented on #110
Please if you are considering using agaisnt alpha v3 and can do tests, a provisional PR for that we can add a new branch with that in the meantime. What do you think?

[2019-07-31 20:36] josx commented on #111
@TheHyphen I have merged you code, I think will help @dinodeSimon

[2019-07-31 20:36] #111 closed

[2019-07-31 23:40] MohammedFaragallah commented on #110
Right now the changes i made was only workaround some strange behavior with react-admin i don't think that's what they mean to do
But I'm updating daily once anything seems stable I'll submit a PR for sure 😊👍
I'm having a question though why didn't you return a promise resolve from logout case like the others

[2019-08-01 13:07] josx commented on #110
Ok, will be waiting for that PR. ;)

I am returning a promise resolve because:
- I have used as template auth in documentation and an example of data provider. (check [auth](https://marmelab.com/react-admin/Authorization.html))
- Anyways I thought that react-admin will need that resolve to continue the code execution.

[2019-08-02 11:15] TheHyphen commented on #111
Thank you! When do you think this change might make it to an npm release?

[2019-08-02 15:42] josx commented on #111
Here [v2.2.1](https://github.com/josx/ra-data-feathers/releases/tag/v2.2.1)

[2019-08-03 05:11] TheHyphen commented on #111
Thanks a ton! ✌️

[2019-08-21 22:02] DanStorm opened #120 "softDelete and react-admin, how do I send extra params to the api during update requests"
I have posted the following question on stack-overflow as well. https://stackoverflow.com/questions/57599531/softdelete-and-react-admin-how-do-i-send-extra-params-to-the-api-during-update

We are using softDelete, from feathers-hooks-common for our users. In order for us to edit (or undelete) users that have been softDeleted, we need to pass `$ignoreDeletedAt: true` to the api in the update reques

[2019-08-22 13:06] josx commented on #120
I think you can do a PR to support that. Some clues to do it:
- add in options a softDelete flag with false as defulat
[code]

- Then for PATCH, UPDATE or UPDATE_MANY you can check if softDelete is true, if is you add ```$ignoreDeletedAt: true``` to data (sent to feathers client)

Tell what do you think about?

[2019-08-22 21:55] DanStorm commented on #120
@josx Thanks for the reply! I have been looking into this, and think this is what you're suggesting. In `/node_modules/ra-data-feathers/lib/restClient.js` starting line 83
[code]
(I am not checking for `softDelete` before adding `ignoreDeletedAt` at the moment, I will add the conditional for that later.) I am attempting to send a request to my local api server with `ignoreDeletedAt` in the right s

[2019-08-23 12:00] josx commented on #120
Check feathers doc:
https://docs.feathersjs.com/api/services.html#patchid-data-params

You have to send a third argument to that function in this way:

`service.patch(params.id, data, { ignoreDeleteAt: true});`

[2019-08-23 22:02] DanStorm commented on #120
Awesome, thanks for that! I was able to get it to show up on my server by using `paramsForServer` from `feathers-hooks-common` (and on my server I use `paramsFromClient` to allow it in) . I am hoping it will be okay to add that dependency. I will create a PR with my changes soon.

I have not been working with Node and related technologies that long, and therefore I am not really familiar with how

[2019-08-23 22:06] DanStorm commented on #120
#121

[2019-08-26 07:03] jiv-e commented on #107
Could this be added to the documentation? I had a hard time with this one.

[2019-08-26 11:39] josx commented on #107
hey @jiv-e could you do a PR on doc for that?

[2019-09-04 09:13] JackyW83 opened #123 "upgrade feathers-client to v4"
After I upgrade feathersjs in server to V4, I have error like "no strategy set". This may be caused by v3 client and v4 server incompatible issue according from here [https://github.com/feathersjs/feathers/issues/1428](https://github.com/feathersjs/feathers/issues/1428).
would you please upgrade feathers client to v4.3.0 if allowed.

thanks

[2019-09-04 09:23] #123 closed

[2019-09-11 17:21] harijoe opened #124 "ra-data-feathers doesn't work with feathers v4"
Authentication has been improved quite a lot in v4 and it seems to break ra-data-feathers v2.3.0

I am getting errors such as : `Invalid authentication information (no `strategy` set)`

[2019-09-11 18:03] josx commented on #124
Check here https://github.com/josx/ra-data-feathers/issues/123

[2019-09-18 19:18] #124 closed

[2019-09-28 15:08] JayGajjar opened #127 "How to access logged-in user data"
I am currently running feathers v4, and using custom JWTStrategy to add user role into JWT token. With this implementation i am unable to access authenticated web-services.
Is there any way to get permission with default JWTStrategy ?

Please check my code

**authentication.js**

[code]
`

**users.hooks.js**

[code]

**Error**

[2019-09-29 09:12] Globik opened #128 "Socketio"
Is there any example getting work with socketio plus react-admin?

[2019-10-02 13:02] josx commented on #128
I have never used with socket.io, but some time ago we discuss websockets in this issue #83
Maybe can give you some clues.

Would be nice, if you can make an example on that.

[2019-10-02 13:08] josx commented on #127
I am not using feather v4, here an example with working permissions
https://github.com/kfern/feathers-aor-test-integration

[2019-10-02 13:13] #128 closed

[2019-10-02 13:20] josx commented on #128
@Globik please give us feedback on what happened, surely your experience in this would clarify others too.

[2019-10-03 04:46] Globik commented on #128
I've decided to use dataProvider based on websocket. No help of ra-data-feathers.

[2019-10-03 08:44] JayGajjar commented on #127
I have started my project by referring this example, but due to some major changes in authentication of feathersjs i am not able to figure out the issue i mentioned.

[2019-10-08 21:11] brahyam commented on #107
For me it was fixed by adding 'feathers-jwt' as the storageKey name in my auth client options since is the default that the feathers auth client uses.

`const authClientOptions = {
  storageKey: 'feathers-jwt'
};

const App = () => <Admin
  dataProvider={restClient(feathersClient, restClientOptions)}
  authProvider={authClient(feathersClient, authClientOptions)}/>
`

[2019-11-18 08:53] Joelith opened #131 "GET_ONE should accept params"
For my feathers backend I use some additional parameters to pass to the server (to modify the behaviour of the output). But ra-data-feathers doesn't pass the params down to Feathers. If you change the the _reactAdmin.GET_ONE case in the restClient file to this:

[code]

Then it works. Happy to send a pull request through

[2019-11-19 11:32] josx commented on #131
ok, please do a PR

[2019-12-09 15:00] leo-orellana opened #132 "Logout problem react-admin 3, feathers 4"
Hi, I'm using react-admin 3 and feathers 4.4.1.
I installed version 2.4.1 of the data provider and it works correctly but the system logs me out when I refresh the page or open it in a new tab. I could see that version 2.4.1 is 2 commits behind the master branch.
I downloaded and used the master branch code because I saw that the commit [9e8fdc099c883d92e2386c7bf9b3f560fbcbfdd6](https://github.com

[2019-12-10 16:51] josx commented on #131
I need to upgrade, so i have done this PR https://github.com/josx/ra-data-feathers/pull/133

[2019-12-10 16:51] #131 closed

[2019-12-10 18:30] josx commented on #132
New release done !

Check
- https://github.com/josx/ra-data-feathers/releases/tag/v2.5.0
- https://www.npmjs.com/package/ra-data-feathers

[2019-12-10 18:30] #132 closed

[2020-02-14 18:16] fabioptoi opened #137 "Query filter not working for nested fields"
Hello!

I recently updated my project from `aor-feathers-client` to `ra-data-feathers` and I wanted to create filters for nested field with comparison operators.

My react-admin filter code looks like this:
[code]

As you can see, I have a nested field `rating.score` which I would like to apply a greater than comparison. When I look at the request query string, I have the following:

`?rating%5Bsc

[2020-02-14 19:16] josx commented on #137
Look at https://github.com/josx/ra-data-feathers/issues/90#issuecomment-458593910

My comment:

It seems that We never have done this.

2 things:
- We need to confirm I was right, Can you test if deep props are working with a simple equal.
- If that OK, can you do a PR for that?

[2020-02-14 19:53] fabioptoi commented on #137
I just tested with simple equal and it's not working... It's being translated to `?rating[score]=1` on the query string...
I believe we need something like your suggestion of a conditional flatting object function. If you agree, I can create a PR with this modification

[2020-02-14 20:46] josx commented on #137
Also  take account of what version of feathers and react-admin are you using.
Please do a PR (including tests), but first if you have time would be great if you can do a simple working example showing this problem (just files, code in gist, or codebox, or fiddle).

[2020-02-17 17:10] fabioptoi commented on #137
Hey, sorry about the delay...

I created a codesandbox with the bug example: https://codesandbox.io/s/white-tree-2fmo7?fontsize=14&hidenavigation=1&theme=dark
If you insert a number in the "Rating" filter and check the Network tab on inspect you'll see the request being made to the backend.

My packages versions:
`@feathersjs/client: 3.5.5`
`react-admin: 2.2.0`
`ra-data-feathers: 2.5.0`

I'm worki

[2020-02-17 18:49] fabioptoi commented on #137
Here it is: https://github.com/josx/ra-data-feathers/pull/138

[2020-02-18 17:07] josx commented on #137
great! thanks a lot!

[2020-02-18 17:07] #137 closed

[2020-03-11 10:21] alex-all3dp opened #140 "$in query operator not properly supported"
Filter params with the [$in operator](https://docs.feathersjs.com/api/databases/querying.html#in-nin) like:
[code]
should be passed as is to the feathers client in order to result in query parameters of the format:
[code]

The `flatten` function in `restClient.js` incorrectly translates the input filter incorrectly to the following query:
[code]
which results in the query parameters: `/path?name.$

[2020-03-11 12:49] #140 closed

[2020-03-11 12:49] josx commented on #140
@alex-all3dp
good catch, can you recheck if the last commit fix this problem.

[2020-03-11 12:50] josx commented on #140
after you confirmation i will release a new version

[2020-03-11 13:07] alex-all3dp commented on #140
Hi @josx,
thank you for the quick response and fix! That commit works.

We just encountered that it would be necessary for us to support even more operators, e.g. from https://github.com/feathersjs-ecosystem/feathers-objection#query-operators. Other users may want to use query operators from other feathers adapters as well.

Would it be possible to make a change that allows to pass custom queryOpe

[2020-03-11 20:44] josx commented on #140
I think it would be great, to have that feature.
Can you make a PR on that? (please also include an example on how to do it in README)

[2020-03-12 10:51] alex-all3dp commented on #140
@josx https://github.com/josx/ra-data-feathers/pull/142

[2020-03-12 10:54] alex-all3dp commented on #110
@MohammedFaragallah @josx How is that v3 support coming along? :)

[2020-03-12 12:25] josx commented on #110
I dont have any production running react-admin 3.x app yet. But I think It would work, because there are no breaking changes for authrProvider and dataProvider.

I have read https://github.com/marmelab/react-admin/blob/master/UPGRADE.md
And upgrade dont apply something We have in the our code.

Anyway please if you can test it against.

[2020-03-12 12:25] #110 closed

[2020-03-14 09:14] MohammedFaragallah commented on #110
Sorry I forgot about this, I have a project running with feathers 4/react-admin 3 if you are facing any issues please let me know, but as josx mentioned you should be fine there were no breaking changes.

[2020-03-16 05:57] rachit-malvi opened #143 "Error: The dataProvider threw an error. It should return a rejected Promise instead."
As per the doc on https://github.com/marmelab/react-admin/blob/master/docs/DataProviders.md
"Error Format
When the API backend returns an error, the Data Provider should return a rejected Promise containing an Error object. This object should contain a status property with the HTTP response code (404, 500, etc.). React-admin inspects this error code, and uses it for authentication (in case of 401

[2020-03-17 01:59] josx commented on #143
- Does feathers client  return rejected promises on error?
- What is returning on error in your example?
- Can you make a test?

[2020-03-18 12:20] rachit-malvi commented on #143
- Does feathers client return rejected promises on error?
Yes
- What is returning on error in your example?
It returns Error

[2020-03-18 12:52] rachit-malvi commented on #143
- On using getOne instead of getList and passing a non-existing userId, it returns Error.
- When I try to GET the users list on Postman, it gives the correct result.

[2020-03-26 14:47] josx commented on #143
I cant understand if you call getOne with a non-existing userId, what value are you expecting back?

[2020-04-26 00:26] lalote opened #145 "logged in save user data"
Hello, in feathersjs when you logged in,  you get the accessToken and user data (at least default configuration) . The accessToken is saved at localStorage, so,  there are any posibility of add a authClient.options for  save the user data in localStorage too?

[2020-04-27 15:41] josx commented on #145
Right now We are following the react-admin interface. At least we are putting on localstorage permissions and token.

But if you want to access to all other props in user you can always do a GET to that service.

[2020-05-16 07:33] lijoantony commented on #127
I am using feathers v4 with a similar configuration as you described without issues. Are you sure the error is due to authentication config? From your error message,
`Cast to ObjectId failed for value "admin" at path "_id" for model "users"`
It seems like it is trying to cast value "admin" to ObjectId type, which would fail as expected. Could the problem be that _id has the value "admin" and it mi

[2020-06-04 21:11] nicholasnelson commented on #145
@lalote Can you explain why this functionality should be included in ra-data-feathers, and not implemented elsewhere (e.g. in your application)?

If you need the user data to be saved immediately on login without retrieving it separately as @josx has suggested, I think the correct approach would be to listen for the login event from the feathers client directly:

[code]

I just don't see that the

[2020-06-05 22:01] josx commented on #145
Lets see what @lalote has to besay before closing it.

[2020-07-10 13:24] josx opened #148 "Match new provider auth signatures v3"
According to the [v3 blog](https://marmelab.com/blog/2019/10/09/react-admin-v3-auth.html#new-code-classlanguage-textauthprovidercode-signature) react admin changed its auth provider signature.

@FacundoMainere  Has done a [WIP](https://github.com/josx/ra-data-feathers/pull/146) on this

**To be done:**
We still need to be retrocompatible with react-admin v2 (last release just one year ago) and sti

[2020-07-30 20:36] agustinariq opened #151 "Error using GET_LIST with empty set of parameters"
I was upgrading from React Admin 2.7 to the latest version and I had problems with a function that sent a request using GET_LIST with the set of parameters as an empty object

[code]

The actual error is: `Unhandled Rejection (TypeError): can't convert undefined to object` and the stack finishes at `node_modules/ra-data-feathers/lib/restClient.js:182`.

![Screenshot from 2020-07-30 17-33-30](https

[2020-07-31 17:12] #151 closed

[2020-12-14 11:48] soullivaneuh opened #153 "Typescript support"
Providing typescript support to the library will be a real addition for IDE code completion and human error avoiding.

Currently, if I import it on a `.tsx` file:

[code]

I have the following error:

[code]

I can of course declare the module manually, but I will not have any IDE completion for this dependency.

Regards

[2020-12-14 13:57] soullivaneuh commented on #148
I just implemented your library with react-admin v3:

[code]

The login process works (the authenticate method is successful) but I am immediately logged out just after that.

Is that related to this issue?

[2020-12-14 14:16] soullivaneuh commented on #148
This basic and not complete custom implementation works:

[code]

[2020-12-14 20:05] josx commented on #153
I dont use typescript.
what do you propose? Can you make a PR?

[2020-12-14 20:16] josx commented on #148
I dont understand if there is any error using react.-admin v3.
I suppose it is working well, but would be great if you can make effort on assure it and/or add more testing.

[2020-12-15 12:25] soullivaneuh commented on #153
The purpose is to have strict typing and IDE completion.

I may, but I unfortunately not the time for that currently.

I propose to let the issue opened if any other interested people want to take care of this. :+1:

[2020-12-15 12:37] josx commented on #153
Ok, I will

[2021-01-16 05:33] berviantoleo commented on #153
Hi, may I try to take care of this? I also guess to use rollup when using Typescript, is it okay?

[2021-01-27 20:56] josx commented on #153
Right now we are using just a makefile for building, installing.
Check #93 (but if we use rollup or anything else I want to also migrate those tasks to it)

Right now in this project We support react admin 2 and 3. Is it worth it to loose  versions support because typescript (ide and strict typing)?

[2021-01-28 07:04] berviantoleo commented on #153
[code]

I think for that, better to move the task to `package.json` instead of `makefile`, so it will not limit to Linux.

[code]
This breaking changes happened when I use the whole script as typescript and use rollup to build. But, if they need the type definition only, I think, yes it can be provided too. Let me try take a look this [article](https://www.typescriptlang.org/docs/handbook/declarat

[2021-01-29 12:33] berviantoleo commented on #153
I create alternatives without change all source code to typescript at #154.

How about this?

[2021-02-18 13:42] josx commented on #153
Great! merged

[2021-02-18 13:43] #153 closed

[2021-04-13 08:53] burlakko opened #155 "No redirect to login after API returns 401"
React-admin gets the 401 response from Feathers API, but nothing happens, no redirect to login page.

App.js:
[code]
React-admin v.3.14.2
Ra-data-feathers v.2.8.1

[2021-04-13 19:06] josx commented on #155
Maybe you can debug it.

[2021-04-14 07:05] burlakko commented on #155
I had wrong Feathers configuration. Sorry. Closing the issue.

[2021-04-14 07:05] #155 closed

[2021-04-28 18:56] josx commented on #128
@Globik A colleague need to do a dataprovider based on websocket. Do you have an example code or repo?

[2021-05-28 02:39] berviantoleo commented on #93
Yes, we can move the command to package.json, but for compatibility to Windows.

* The build command will need [cross-env](https://www.npmjs.com/package/cross-env) package, so it will support environment variable to cross Linux & Windows.
* For the clean command, I think will need [shx](https://www.npmjs.com/package/shx), since what I know current Windows not have `rm` command.

That is my suggest

[2021-05-31 14:25] josx commented on #93
Sounds good to me. Please if you can make a PR with that.

[2021-06-02 23:18] #93 closed

[2021-06-03 18:47] jamesholcomb opened #161 "Typescript error"
ra-data-feathers@2.9.0

[code]

The last line generates an error:
[code]

[2021-06-03 20:34] josx commented on #161
So sorry about that. It seems to be an error on `@params`
To checkit out here in ts playground: [code](https://www.typescriptlang.org/play?filetype=js&useJavaScript=truee=4#code/PQKhFgCgAIWgBADgQwE7ILbQN7araaAVwGcBTABWQBcBjACwH4AuaAIwHsOAbM5AOwA00fHGi1S1DhgCKRMqgCeAeUQKaHVCRbQS1VAEt+AcwDaAXWGjCpMgFki3agZ2cefISJhiDAEx16hibQAL7WAGQ4pgDSZIqsgUbG5qzYfgn6SSFh3qHQHIjOHPwkosBQtMV60MjQALzQABQFRSUAlPUAfDj4

[2021-06-03 22:29] berviantoleo commented on #161
`The problem is & {[Key: string]: {id: string}}, need to be optional (in words optional any key string with value object with id prop with type string value)
I dont know about types in typescript, can you help us @berviantoleo`

Yes, you're right, I think I am wrong about that, need to make that optional. I will check to fix that.

[2021-06-03 22:53] berviantoleo commented on #161
Previously I want to check the `"resource": {id: "_id"}` things, but seems I am wrong set it to required. I will send PR about that.

[2021-06-03 23:03] josx commented on #161
BTW Can we add some tests for checking types to avoid this kind of bugs in the future

[2021-06-03 23:17] berviantoleo commented on #161
Yes, I think can. But, the testing need use Typescript too. I will try to add some cases.

[2021-06-04 15:16] #161 closed

[2021-06-04 15:20] josx commented on #161
@jamesholcomb  Please now you can try newest version [v2.9.1](https://www.npmjs.com/package/ra-data-feathers/v/2.9.1)

[2021-06-04 15:21] jamesholcomb commented on #161
Works 👍

[2021-07-13 16:46] sagannotcarl commented on #148
I'm having trouble getting this to work. Does anyone have a more complete working example? I tried swapping out the authClient from here https://github.com/josx/ra-data-feathers/pull/146 but I keep getting the same error: `client.logout is not a function."

[2021-07-16 04:29] AshotN commented on #110
I just went through a similar struggle
This is what you are probably missing

https://docs.feathersjs.com/api/authentication/client.html

[2021-07-26 17:41] josx commented on #110
But featherjs client is in [package.json as peerdependency](https://github.com/josx/ra-data-feathers/blob/master/package.json#L48)

But depending in which `npm` version you are running, will or wont install peerdeps as default.( [npm doc](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependencies) )

Another idea is to add something like [check-peer-dependencies](https://github.co

[2021-08-09 08:32] AshotN opened #163 "File upload"
I am not sure if this is in scope for this project. But I can't figure out how to have Feather JS accept a file from `<FileInput>`

Can someone point give some pointers? Thanks!

[2021-08-09 19:41] josx commented on #163
it is out of the scope, but i can share with you some legacy code on how to do it:

client:

[code]

[2021-08-09 19:41] #163 closed

[2021-08-10 00:05] AshotN commented on #163
Thank you kindly for this, that exactly what I needed. On a similar note, is there a way to set the form as a `enctype="multipart/form-data"`? Thanks again for the help.

[2021-08-23 03:46] tanedward2101 opened #166 "Encrypting password from authProvider"
Hi, is there anyway to encrypt password using authProvider?

[2021-08-23 09:13] tanedward2101 opened #167 "Authorization Error"
Hi, I got an error on my accessToken.
My authProvider is working just fine. I can do log in. But when I try to refresh the page from browser, it returns error 401

Here is my code

[code]

And for my feathersClient
[code]

Can you help me?

[2021-08-23 13:10] josx commented on #166
Hi! Right We are using JWT, Check for an introduction [here](https://jwt.io/introduction)

[2021-08-23 13:10] #166 closed

[2021-08-25 10:31] #167 closed

[2021-08-25 11:03] tanedward2101 opened #168 "Disccussion about Permission"
Hi, need some help here.
My authentication feathers return this.

[code]

And this is my authClientOption

[code]

Somehow, I cannot retrieve roles data.
Can anyone help me?

[2021-10-13 15:59] ap1969 opened #169 "Example feathers client?"
Hi,
Does anyone have an example of what should be in ./feathersClient in the tutorial, please?

I've been round in so many circles on this, and I can't make sense of the documentation from the feathers project itself.

Any help would be **gratefully** received!

Regards,
Andy

[2021-10-13 22:23] #169 closed, assigned to nobody

[2022-03-06 17:53] strarsis opened #173 "Invalid JWT: No re-login"
When the FeathersJS app users table is changed and the app restarted (e.g. for development),
so the originally logged in user doesn't exist anymore, `react-admin` doesn't return to the login screen.
Instead it shows the error message/toast: `No record found [...]`.

[2022-03-07 13:00] josx commented on #173
Maybe you can debug ra-data-feathers and check where to force to redirect to login in this case. Can you make on PR?
Check here https://github.com/josx/ra-data-feathers/blob/master/src/authClient.js

Anyway it is not an usual use case, because we already support reauthentication for other similar cases.

[2022-03-11 19:03] strarsis opened #174 "`createMany` unsupported"
The `createMany` method is unsupported:
`FeathersJS restClient action type createMany`

It is very useful for some bulk operations, like a CSV import from `react-admin`.

[2022-03-11 20:14] strarsis commented on #173
@josx: While further debugging this issue I notice that the same message `Please login to continue` also appears when the FeathersJS app isn't running at all (network error).

[2022-03-11 20:28] strarsis opened #175 "[Feature Request] `q` for searches"
`react-admin` often uses `q` as full text search parameter.
Currently FeathersJS will try to use `q` as column (which usually doesn't exist in the table) and report a query error.

How can this functionality be added? Must the data provider handle this or a hook in FeathersJS app?

[2022-03-12 17:29] strarsis commented on #175
Currently I use this hook to achieve the functionality:
[code]

[code]

The example query `https://localhost:3030/items?q=test` will then result in a text search in the `name` field (without case-sensitivity (`false`)).

[2022-03-12 21:53] strarsis commented on #163
@josx: It would be nice if the `FeathersJS` `react-admin` data provider also adds file upload handling.
Currently the data provider has to be decorated with file upload handlers (https://marmelab.com/react-admin/doc/2.8/DataProviders.html#decorating-your-data-provider-example-of-file-upload).

[2022-03-12 22:13] strarsis opened #176 "[docs] How to decorate the data provider"
The `ra-data-feather` provider can't be decorated (for extending or changing its behavior) in the usual way.
The reason is that the `ra-data-feather` provider returns a function instead of a JavaScript object (with member methods).

[code]

[2022-03-14 12:02] strarsis opened #177 "Production build: `Uncaught (in promise) Error: Failed to execute 'fetch' on 'Window': Illegal invocation`"
When starting the production build of `react-admin`, `react-admin` stays at the loading screen and this error occurs:
[code]
Edit: Apparently this happens when the FeathersJS server is not reachable (network/CORS issues).
But nothing in the network tab in Developer Tools.
A much more descriptive error message would be nice.

[2022-03-14 12:27] josx commented on #174
I dont see createMany in the reactadmin doc as available, where did you see it?
I have check it here https://marmelab.com/react-admin/DataProviders.html

[2022-03-14 12:31] strarsis commented on #174
Maybe this is just a special action introduced by `react-admin-import-csv`?
https://github.com/benwinding/react-admin-import-csv/blob/9b7b840f76270fe7c444710881ed781a8d83c830/README.md#reducing-requests-createmany-and-updatemany

In that case the action has to be added by decorator. I initially had issues adding it - but found out that `ra-data-feathers` uses a function which has to be wrapped for

[2022-03-14 12:31] #174 closed

[2022-03-14 12:32] josx commented on #173
Maybe you can debug a little more to realize if we can discriminate a network error or a login error, and how to do it.

[2022-03-14 12:39] josx commented on #163
It would be very nice to have this feature.
Anyone can help with this?

[2022-03-14 12:42] strarsis commented on #163
IMHO one (server-side) hook is needed for accepting uploaded files, an optional, 2nd (server-side) hook for adding the path of uploaded files to a record and the `ra-data-feathers` provider needs the extra functionality for handling file/image fields.

There is `feathers-blob` that offers some abstraction. The stores for it are a bit outdated though.

[2022-03-14 12:52] josx commented on #177
It seems that you can have problems with FETCH.
mmm Browser version maybe?

https://github.com/Airtable/airtable.js/issues/230

[2022-03-14 13:18] strarsis commented on #177
@josx: I replaced Fetch with axios. And now it works. But I still want to use Fetch!

The API is reachable by the browser and another React app - though without authentication (JWT).

With Fetch, the network tab for production `react-admin` shows no connection attempt to the API whatsoever.
`react-admin` works flawlessly in development (`yarn start`) though, with either axios or Fetch.

[2022-03-14 13:59] strarsis commented on #177
So the `this` context of `window.fetch` got lost somehow. `window.fetch.bind(window)` or something like that has to be used.
https://stackoverflow.com/questions/10743596/why-are-certain-function-calls-termed-illegal-invocations-in-javascript

[2022-03-15 13:36] josx commented on #177
So, try to share this in feathers doc, would be illuminating.

[2022-03-15 13:36] #177 closed

[2022-03-15 13:46] josx commented on #163
Some clues:
- https://docs.feathersjs.com/cookbook/express/file-uploading.html
- https://gist.github.com/rravichaudhary/7f6a5f3967c923a1c5432416e3bfd463

[2022-03-15 14:04] josx commented on #176
A simple way to do it, it is after getting the dataProvider.

[code]

[code]

[2022-03-15 15:33] strarsis commented on #175
@josx: Would `customQueryOperators: [ '$like' ]` allow `react-admin` to do those searches as full text search in the `name` field?
SQLite as backend doesn't support `$ilike` (case-insensitive searches) and the search query has to be surrounded with `%` to allow it to match partially. The `knex` FeathersJS adapter is used.

The options looks like it would offer this functionality and it would be gr

[2022-03-15 15:52] strarsis commented on #177
@josx: Yes, I created a new PR in the FeathersJS `docs` repository.

[2022-03-15 17:33] josx commented on #175
customQueryOperator is operator to be use on filter key when quering feathers.
Allows to use custom operators from various feathers-database-adapters.
Any params.filter included in custom operators will be sent to feathers.

Please check tests
https://github.com/josx/ra-data-feathers/blob/master/test/restClient.spec.js#L293

[2022-03-16 15:10] strarsis opened #179 "iOS/webkit: `Invalid Date`"
A `KnexJS`/`SQLite` `date` type field is used as `source` for a `react-admin` `<DateField`.
On PC/Android Chrome/Firefox the field can parse the `source` value as date and display it formatted.
On iOS/webkit the `<DateField` however render `Invalid Date`.

Because I had a similar issue with another non-standard `react-admin` field I further debugged the issue and
noticed that the `date` field valu

[2022-03-17 20:47] josx commented on #179
Maybe it is related  that you are using date input and trying to send a datetime.
But It seems not to be a ra-data-feathers bug.

[2022-03-17 21:28] strarsis commented on #179
The issue occurs with `<DateField />`s. I haven't used date/time inputs, I don't know if the issue also occurs for input components.

[2022-03-18 20:00] strarsis commented on #173
@josx: Alright, the following is logged to JavaScript console when auth fails (FeathersJS restart / JWT invalid):
[code]
The network tab shows a failed request to API, the response tab only shows an error:
`Failed to load response data: No data found for resource with given identifier`

The same with development builds.

[2022-03-28 16:15] strarsis opened #180 "total count / `X-Total-Count` / partial pagination missing"
This is more of a FeathersJS server/backend issue - but this should be addressed by the documentation IMHO.
For building pagination controls (next page/previous page/page number buttons) `react-admin` needs the total count,
this is usually sent in the `X-Total-Count` HTTP header or as `total` field.

Alternatively, partial pagination can be used - but it also requires extra data from the API (upco

[2022-03-28 17:31] #180 closed

[2022-04-08 16:29] strarsis opened #181 "How to add custom headers?"
How can custom request headers be added? The `ra-data-feathers` REST client is a function that can be called with `type`, `resource` and `params`, but where can the HTTP headers be changed?

[2022-04-08 17:17] strarsis commented on #181
The underlying `Feathers` instance offers hooks that can be used to change/add HTTP headers:
[code]

In some cases this custom header (`X-Client`) must be allowed by the server by sending its header name (CORS).
(Note: The RFC user agent header can't be changed in current browsers by the way).
FeathersJS server / backend:
[code]

[2022-04-08 17:17] #181 closed

[2022-04-13 15:04] strarsis opened #182 "`react-admin` `v4` support"
Does `ra-data-feathers` officially support the [new `react-admin` `v4` release](https://marmelab.com/blog/2022/04/08/react-admin-v4-goodbye-redux.html)?
I want to migrate the existing `react-admin` `v3` app to `v4`, but I have to be sure that `ra-data-feathers` still works afterwards.

[2022-04-13 15:47] josx commented on #182
v4 It is very new, a few hours by now.

We need to read
- https://marmelab.com/react-admin/Upgrade.html

[2022-04-18 12:34] josx commented on #182
No time to test it out, but if you upgrade react-admin to 4, then run tests maybe we are going to have a clue.

Anyways two more things:
1) Imports: dont know if it is exporting constants (https://github.com/josx/ra-data-feathers/blob/master/src/restClient.js#L1-L11)
2) maybe Some  Changed Signature Of Data Provider Hooks, but i am not sure

[2022-04-23 13:46] strarsis commented on #182
Migrated the admin app to v4 and tested with the current `ra-data-feathers`, works fine so far...
Tests + official support for `v4` would be great though.

[2022-07-17 21:48] strarsis opened #184 "Broken `peerDependency`"
`react-admin` is a peer dependency of this package, but for version `^2.1.1`:
https://github.com/josx/ra-data-feathers/blob/master/package.json#L49
This is totally broken, as `react-admin` `v4` is the latest stable now, and before there was `react-admin` `v4`.

[2022-07-18 17:57] josx commented on #182
What do you think we need to do to support v4? How you experienced any problem? any specific test to write?

[2022-07-18 18:33] #182 closed

[2022-07-18 18:57] josx commented on #182
great!
if you want to do integration tests would be perfect!